---
import type { SanityDocument } from "@sanity/client"
import { sanityClient } from "sanity:client"


const PROFILE_QUERY = '*[_type == "profile"]{ _id, title }'

const profiles = await sanityClient.fetch<SanityDocument[]>(PROFILE_QUERY);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		{profiles.map((profile) => (
			<h1>{profile.title}</h1>
		))}
	</body>
</html>
